<li>
    {{burger_name}}
    <button class="eatBurger" data-id="{{id}}" data-devour="{{devoured}}">
        {{#if sleep}}DEVOUR!{{else}}Eat Again?{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>